body {
  background-color: blueviolet;
  
}

.header {
  color: white;
  font-family: "Yeon Sung";
  font-size: 45px;
  letter-spacing: 10px;
  margin-top: 80px;
}
.header img {
  width: 80px;
  margin-left: -15px;
}
.logo  {

  width: 20;
  height: 20;
}
